html { 
	background-image:url(Assets/praticeSiteWallpaper.jpeg);
	background-attachment: fixed;
	font-family: helvetica, verdana, ariel, sans-serif;
	color: rgb(38,38,38);
	font-size: 0.8em;
    font-weight: bold;
}

body {
	position: relative;
	width: 940px;
	height: 1200px;
}

h1.pageInfo {
    font-size: 40px;
    font-weight: bolder;
    border-bottom: 1px solid rgb(60,60,60);
    width: auto;
    text-align: center;
    margin-bottom: 0;
}

h2.pageInfo{
	font-variant:small-caps;
	text-align:center; 
	margin-top: 0;
}

#staticLeftDiv{
	position: fixed;
	width: 170px;
	font-size: 18px;
	text-align: right;
	color: BFBFBF;
	padding: 0px 0px 0px 0px;
	height: 1200px;

}

.navBar{
	list-style-type: none;
}

#mainContent {
	width: 600px;
	margin-left:200px

}

#staticLeftDiv ul li {
	display: block;
	border-bottom: 1.6px solid black;
	line-height: 3em;
}
